    <ol>
      <% @category.questions.each do |question| %>
        <li>
          <table>
          <tb><%=question.title%></tb> <br>
          <tb><%= link_to 'Answer', category_question_path(@category, question) , id: "answer"%></tb>
        </li>

        </table>
      <% end %>
    </ol>