  <ol>
    <% @category.questions.each do |question| %>
      <li>
        <p><%=question.title%></br>
        <%= link_to 'more', category_question_path(@category, question) %></p>
      </li>
    <% end %>
  </ol>