  <ol>
        <% Question.all.each do |question| %>
          <li>
            <p><%= question.title %></p><%= link_to 'show' ,edit_category_question_path(question.id)%>
          </li>
        <% end %>
        
  </ol>