<h1>Create new category</h1>

<div class="form-group mx-sm-3 mb-2">
    
    <%= form_for(Category.new) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name , :class => "form-control-plaintext"%>
    
    <%= f.submit :class => "btn btn-primary" %>
    <% end %>
    
</div>
