<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3><%= @category.name %></h3>
      <p>See all the posted Questions</p>
      
        <%= render 'questions/question'%>
        
      <button type="button" class="btn btn-secondary btn btn-secondary btn-sm"><%= link_to 'Create question' , new_category_question_path(@category) %><br></button>
      <%#= render 'questions/new'%>
      
    </div>
  </div>
</div>