<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by"></div>
      <h3><%= @category.name %></h3>
      <p>See all the Questions posted</p>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">question 1</a>
        <a href="#" class="list-group-item list-group-item-action">question 2</a>
        <a href="#" class="list-group-item list-group-item-action">question 3</a>
        <a href="#" class="list-group-item list-group-item-action">question 4</a>
      </div>
      <%#= link_to 'Post new question' , new_category_question_path(question.id), class: 'interested' %>
    </div>
  </div><!-- row -->
</div>